
@model AKS.Infrastructure.ViewModels.TopicDisplayViewModel

@{
var documentLink = $"/api/ContentDocument/{Model.ProjectId}/{Model.TopicId}/{Model.DocumentName}";
}
<div><a href="@documentLink">@Model.DocumentName</a></div>