@using AKS.App.Core.Components
@using AKS.App.Core.Data
@inherits LayoutComponentBase

<CascadingValue Value="@AppState">
    <TopNav />
    <div>
        @Body
    </div>

    <LoginDisplay />
        <div>@AppState?.HeaderNav?.CustomerName - @AppState?.HeaderNav?.ProjectName</div>
</CascadingValue>
@code {
    [Inject]
    IAppState AppState { get; set; } = null!;

    protected override void OnInitialized()
    {
        AppState.OnUpdateStatus += AppStateChangeHandler;
        base.OnInitialized();
    }

    private void AppStateChangeHandler(object sender, EventArgs e)
    {
        this.StateHasChanged();
    }
}