@page "/"
@inject Microsoft.AspNetCore.Components.Services.IUriHelper UriHelper

<h1>Hello, world!</h1>

Welcome to your new app.

@functions
{
    protected override void OnInit()
    {
        base.OnAfterRender();
        UriHelper.NavigateTo("/project/000004d2-0000-0000-0000-000000000000");
    }
}