@page "{projectId:int}"
@model Resurgam.Web.Admin.Pages.ProjectModel
@{
    ViewData["Title"] = "Project";
}

@section HeaderNav {
    <partial name="Shared/HeaderNavPartial" model="Model.HeaderNav" />
}


<table>
    <thead>
        <tr>
            <td>Project Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var topic in Model.Topics)
        {
            <tr>
                <td><a asp-page="\Topic" asp-route-projectId="@topic.ProjectId" asp-route-topicId="@topic.TopicID">@topic.TopicName</a> </td>
                <td>@topic.TopicDesription</td>
            </tr>
        }
    </tbody>
</table>

