<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Active Knowledge</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <CategoryTree CategoryTreeViewModel="@appState.CategoryTree" />
</div>

@functions {

    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    [Parameter] protected AppState appState { get; set; }

    protected override void OnInit()
    {
        appState.OnUpdateStatus += AppStateChangeHandler;
        base.OnInit();
    }

    private void AppStateChangeHandler(object sender, EventArgs e)
    {
        this.StateHasChanged();
    }


}


