@using AKS.Builder.Interfaces

@implements IDisposable
@implements ITab
@inject Microsoft.AspNetCore.Components.Services.IUriHelper UriHelper

<li>
        <button onclick="@Activate" class="nav-link @TitleCssClass">
            <span>
            @(Title)
            @if (ShowDelete && Delete != null)
            {
                <span onclick="@(() => Delete())" class="glyphicon glyphicon-remove">x</span>
            }
            </span>
        </button>
</li>

@functions {
    [CascadingParameter] TabSet ContainerTabSet { get; set; }
    [Parameter] string Title { get; set; }
    [Parameter] bool ShowDelete { get; set; }
    [Parameter] Action Delete { get; set; } 
    [Parameter] public RenderFragment ChildContent { get; private set; }

    string TitleCssClass => ContainerTabSet.ActiveTab == this ? "active" : null;

    protected override void OnInit()
    {
        ContainerTabSet.AddTab(this);
    }

    public void Dispose()
    {
        ContainerTabSet.RemoveTab(this);
    }

    void Activate()
    {
        ContainerTabSet.SetActivateTab(this);
    }
}