@page "/customer/{customerId:guid}/edit"
@inherits AKS.App.Core.CustomerEditBase

<div role="group" class="container appcontent">
    <div class="row nav-content" />
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="customerName">Customer Name</label>
                <input id="customerName" type="text" @bind-value="CustomerName" class="form-control" min="2" />
            </div>
        </div>

        <button @onclick="Save" class="btn btn-primary">Save</button>
        <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>

    </form>
</div>
