@page "/topic/{projectId:guid}/{topicId:guid}"
@inherits AKS.App.Core.TopicViewBase
@using AKS.App.Core.Components

@if (Topic == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div role="group" class="container appcontent">
        <div role="group" class="row nav-content">
            <ProjectHeader />
        </div>
        <div role="group" class="row">
            <div role="group" id="tocView" class="@AppState.TocCollapsedClass toc col-lg-3">
                <TableOfContents />
            </div>
            <div id="topicContent" role="document" class="col @AppState.TocContentClass">
                <h1>@Topic.Title</h1>
                <p class="description">
                    @Topic.Description
                </p>
                <div class="tags">
                    <TopicTags Topic="Topic"/>
                </div>
                <hr>
                <div>
                    <TopicDetail Topic="Topic" />
                </div>
                <aside class="row justify-content-between">
                    <div class="relatedTopics col-lg-6 col-md-12">
                        <RelatedTopics Topic="Topic" />
                    </div>
                    <div class="commentsRating col-lg-5 col-md-12">
                        <TopicRatings Topic="Topic" />
                        <TopicComments Topic="Topic" />
                    </div>
                </aside>
            </div>
        </div>
    </div>
}