@using Microsoft.AspNetCore.Components.Web
@using AKS.App.Core.Data

<div role="group" class="col-lg-3">
    <button id="tocBtn" type="button" @onclick="ToCToggle" class="btn btn-link btn-block bg-light text-left text-truncate"><i class="icon-sidebar" aria-expanded="false"></i>Table of contents</button>
</div>
<div role="group" class="col-lg-7">
    <ol class="breadcrumb bg-light">
        <li class="breadcrumb-item"><a href="customer/@AppState.CustomerId">Home</a></li>
        @if (AppState.ProjectId != Guid.Empty)
        {
            <li class="breadcrumb-item"><a href="project/@AppState.ProjectId">@AppState.HeaderNav?.ProjectName</a></li>
        }
        @*<li class="breadcrumb-item active" aria-current="page">Data</li>*@
    </ol>
</div>
<div role="group" class="col-lg-2">
    <button type="button" class="btn btn-link btn-block bg-light text-left text-truncate"><i class="icon-mail"></i>Share</button>
</div>

@code {
    [CascadingParameter] public IAppState AppState { get; set; } = null!;

    public void ToCToggle()
    {
        AppState.TocIsVisible = !AppState.TocIsVisible;
    }
}