@using AKS.Common.Models
@using AKS.Common.Enums

@switch (Topic.TopicType)
{
    case TopicType.Content:  //Content
        <TopicEditDetailContent Topic="Topic" />
        break;
    case TopicType.Collection: //Colleciton
        
        break;
    case TopicType.Document: //Document
        break;
    default:
        <div>Unhandled Topic Type</div>
        break;
}

@code{
    [Parameter]
    public TopicEdit Topic { get; set; } = new TopicEdit();
}