@using AKS.Common.Models

    <div>
        <a href="@FileUri?.AbsoluteUri" download>@Topic.DocumentName</a>
    </div>
<FilePreview FileUri="@FileUri" />

@code{
    [Parameter]
    public TopicView Topic { get; set; } = new TopicView();

    public Uri? FileUri {get;set;}

    protected override void OnParametersSet()
    {
        if (string.IsNullOrWhiteSpace(Topic.DocumentName))
        {
            return;
        }

        FileUri = new Uri($"https://localhost:44301/api/ContentDocument/{Topic.ProjectId}/{Topic.TopicId}/{Topic.DocumentName}");
    }
}
