@using AKS.Common.Models

<a href="/topic/@Topic.ProjectId/@Topic.TopicId" class="d-block text-truncate">
    <i class="icon-arrow-right"></i>
    @Topic.Title
</a>

@code{
    [Parameter]
    public TopicList Topic { get; set; } = new TopicList();
}