@inherits TopicSearchModel
@using Microsoft.AspNetCore.Components.Web

@if (ShowSearch)
{
    <div>
        <input type="text" @bind="SearchString" />
        <button type="button" @onclick="Search" class="btn btn-primary">Search</button>
    </div>
}

@if (Topics == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @if (ShowTopicSelected)
                {
                    <td></td>
                }
                <td>Name</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var topic in Topics)
            {
                <tr>
                    @if (ShowTopicSelected)
                    {
                        <td><input type="checkbox" @bind="topic.IsSelected" /> </td>
                    }
                    <td><a href="@($"/topic/{topic.ProjectId}/{topic.TopicId}")" target="_blank">@topic.Title</a> </td>
                    <td>@topic.Title</td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="modal-footer">
    @if (ShowAdd)
    {
        <button @onclick="AddTopics" class="btn btn-primary">Add</button>

    }
    @if (ShowDelete)
    {
        <button @onclick="DeleteTopic" class="btn btn-warn">Delete Topic</button>
    }
</div>

