@using AKS.Common.Models
@using AKS.Common.Enums

@switch (Topic.TopicType)
{
    case TopicType.Content:  //Content
        <TopicDetailContent Topic="Topic" />
        break;
    case TopicType.Collection: //Colleciton
        <TopicDetailCollection Topic="Topic" />
        break;
    case TopicType.Document: //Document
        <TopicDetailDocument Topic="Topic" />
        break;
    case TopicType.Fragment: //Document
        <div class="jagged-border">
            <TopicDetailContent Topic="Topic" />
        </div>
        break;
    default:
        <div>Unhandled Topic Type</div>
        break;
}

@code{
    [Parameter]
    public TopicView Topic { get; set; } = new TopicView();
}
