@inherits TopicEditDetailContentBase
@using Microsoft.AspNetCore.Components.Web
<AKS.CKEditor.CKEditorControl @ref="TopicContentEditor" EditorContent="@Topic.Content" OnEditorChanged="TopicContentEditor_OnEditorChanged" />

@if (IsAddingTopics)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add Topic</h3>
                    <button type="button" class="close" @onclick="CloseModal">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <TopicSearch ProjectId="@Topic.ProjectId" ShowSearch="true" ShowTopicSelected="true" DoSomethingAction="@InsertTopicFragmentAction" />
            </div>
        </div>
    </div>
}