@using AKS.Common.Models

<a href="#" class="item"><i class="icon-tag"></i>Tag word</a>
<a href="#" class="item"><i class="icon-tag"></i>Tag word</a>
<a href="#" class="item"><i class="icon-tag"></i>Tag word</a>

@code{
    [Parameter]
    public TopicView Topic { get; set; } = new TopicView();
}