@using AKS.App.Core.Data
@using AKS.Common.Models

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div role="group" class="container">
        <a class="navbar-brand" href="#">AKS - Build</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span role="img" class="navbar-toggler-icon"></span>
        </button>
        <div role="navigation" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <form class="form-inline">
                <div role="dialog" class="input-group">
                    <input type="text" class="form-control" placeholder="Search project" aria-label="Search this project">
                    <div role="dialog" class="input-group-append">
                        <button class="btn btn-secondary" type="button"><i class="icon-search left"></i></button>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle btn-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-user left"></i><span hidden>Person</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Entry 1</a>
                        <a class="dropdown-item" href="#">Entry 2</a>

                        <AuthorizeView>
                            <NotAuthorized>
                                <button class="btn btn-primary">
                                    Login
                                </button>
                            </NotAuthorized>
                            <Authorized>
                                <span class="mr-5">Welcome <b>@AppState.User.FirstName</b></span>
                                <a href="/AzureADB2C/Account/SignOut" class="btn btn-primary">Logout</a>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {

    [CascadingParameter] IAppState AppState { get; set; } = null!;

    bool collapseNavMenu = true;

    string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
