@using AKS.Common.Models;

@if (CategoryTreeViewModel != null)
{
    @CategoryTreeViewModel.Name
    <ul class="p-lg-3 text-white">
        @foreach (var c in CategoryTreeViewModel.Categories)
        {
            <li>
                <CategoryTree CategoryTreeViewModel="@c" />
            </li>
        }
        @foreach (var t in CategoryTreeViewModel.Topics)
        {
            <li>
                <a href='@($"edit/topic/{t.ProjectId}/{t.TopicId}")'>@t.Title</a>
            </li>
        }
    </ul>
}
@functions {
    [Parameter]
    protected CategoryTreeView CategoryTreeViewModel { get; set; }
}
