@inherits LayoutComponentBase
@inject AppState  appState
<div class="sidebar">
    <NavMenu appState="@appState" />
</div>

<div class="main">
    <div>
        <HeaderNav appState="@appState" />
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>