@using AKS.App.Core.Data

<div role="group" id="tocIndex">
    <ul id="toc">
        @foreach (var cat in AppState.CategoryTree.Categories)
        {
          <TableOfContentsCategory Category="@cat" />
        }
    </ul>
</div>

@code {
    [CascadingParameter] IAppState AppState { get; set; } = null!;

}