<div role="group" id="tocIndex">
    <ul id="toc">
        <li>
            <span class="caret">Category</span>
            <ul class="nested">
                <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
            </ul>
        </li>
        <li>
            <span class="caret">Category</span>
            <ul class="nested">
                <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
            </ul>
        </li>
        <li>
            <span class="caret">Category with a really long title creating two lines of text with its name</span>
            <ul class="nested">
                <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
            </ul>
        </li>
        <li>
            <span class="caret">Category</span>
            <ul class="nested">
                <li>
                    <a href="#"><i class="icon-file-text"></i>Topic</a>
                </li>
            </ul>
        </li>
        <li>
            <span class="caret">Category with two levels deep</span>
            <ul class="nested">
                <li>
                    <span class="caret">Category</span>
                    <ul class="nested">
                        <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
                <li><a href="#"><i class="icon-file-text"></i>Topic name with a really long title creating two lines of text with its name</a></li>
                <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
            </ul>
        </li>
        <li>
            <span class="caret">Category</span>
            <ul class="nested">
                <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
            </ul>
        </li>
        <li>
            <span class="caret">Category</span>
            <ul class="nested">
                <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
            </ul>
        </li>
        <li>
            <span class="caret">Category</span>
            <ul class="nested">
                <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
        <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
    </ul>
</div>

