@using AKS.Common.Models

<h4>Rating</h4>
<div class="clearfix">
    <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5" checked /><label class="full" for="star5" title="Awesome - 5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4" checked /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3" name="rating" value="3" checked /><label class="full" for="star3" title="Meh - 3 stars"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
    </fieldset>
</div>
<p><a href="#">average from 132 users</a></p>

@code{
    [Parameter]
    public TopicView Topic { get; set; } = new TopicView();
}