@inherits BlazorComponent 


<div class="top-row px-4">
    @if (appState.HeaderNav != null)
    {
        <a href="customer/@appState.HeaderNav?.CustomerId" class="mr-lg-5">@appState.HeaderNav?.CustomerName</a>
        <a href="project/@appState.HeaderNav?.ProjectId" class="mr-lg-5">@appState.HeaderNav?.ProjectName</a>
    }
</div>

@functions
{
    [Parameter] protected AppState appState { get; set; }

    protected override void OnInit()
    {
        appState.OnUpdateStatus += AppStateChangeHandler;
        base.OnInit();
    }

    private void AppStateChangeHandler(object sender, EventArgs e)
    {
        this.StateHasChanged();
    }

    
}