@inherits BlazorLayoutComponent
@inject AppState  appState
<div class="sidebar">
    <NavMenu appState="@appState" />
</div>

<div class="main">
    <HeaderNav appState="@appState" />

    <div class="content px-4">
        @Body
    </div>
</div>