
@model Resurgam.Infrastructure.ViewModels.TopicDisplayViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    <kendo-tabstrip name="tabstrip">
        <popup-animation>
            <open effects="fade:in" />
        </popup-animation>
        <items>
            @foreach (var element in Model.CollectionElements)
            {
            <tabstrip-item text="@element.CollectionElementName">
                <content>
                    @foreach (var topic in element.Topics)
                    {

                        var topicLink = $"/topic/{topic.ProjectId}/{topic.TopicId}";
                        <div><a href="@topicLink">@topic.TopicName</a></div>
                    }
                </content>
            </tabstrip-item>
            }
        </items>
    </kendo-tabstrip>
}