@page "/debug"

    <div role="document" class="container mt-5 appcontent">
        <div>
            <a href="customer/0000007b-0000-0000-0000-000000000000/Edit">Customer Edit</a>
        </div>
        <div>
            <a href="project/000004d2-0000-0000-0000-000000000000/Edit">Project Edit</a>
        </div>
        <div>
            <a href="topic/000004d2-0000-0000-0000-000000000000/0000006f-0000-0000-0000-000000000000/Edit">Topic Edit - Content</a>
        </div>

        <div>
            <a href="topic/000004d2-0000-0000-0000-000000000000/0000022b-0000-0000-0000-000000000000/Edit">Topic Edit - Collection</a>
        </div>
        <div>
            <a href="customer/0000007b-0000-0000-0000-000000000000">Customer Project List</a>
        </div>
        <div>
            <a href="project/000004d2-0000-0000-0000-000000000000">Project Topic List</a>
        </div>
        <div>
            <a href="topic/000004d2-0000-0000-0000-000000000000/0000006f-0000-0000-0000-000000000000">Topic View - Content</a>
        </div>

        <div>
            <a href="topic/000004d2-0000-0000-0000-000000000000/0000022b-0000-0000-0000-000000000000">Topic View - Collection</a>
        </div>


    </div>
