@model Resurgam.Infrastructure.ViewModels.HeaderNavViewModel

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @if (Model.CustomerId != Guid.Empty)
            {
            <a asp-page="/Customer" asp-route-customerId="@Model.CustomerId" >
                <img src="/api/customerlogo/@Model.CustomerId/@Model.CustomerLogoURL" alt="@Model.CustomerName" style="max-height:46px;margin-top:2px;" />
            </a>
            }
            @if (Model.ProjectId.HasValue)
            {
            <a asp-page="/Project" asp-route-projectId="@Model.ProjectId" >
                <img src="/api/projectlogo/@Model.ProjectId/@Model.ProjectLogoURL" alt="@Model.ProjectName" style="max-height:46px;margin-top:2px;" />
            </a>
            }

            <a href="/signout-oidc">Sign Out</a>
        </div>
    </div>
</nav>