<Router AppAssembly="@typeof(AKS.App.Build.App.App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(AKS.App.Build.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(AKS.App.Build.Shared.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
