
@model Resurgam.Infrastructure.ViewModels.CategoryTreeViewModel

<div role="group" class="row">
    <div role="group" id="tocView" class="collapse toc col-lg-3">
        <div role="group" id="tocIndex">
            <ul id="toc">
                <partial name="Partials/CategoryTreeItems" model="Model" />
            </ul>
        </div>
    </div>
</div>
