@import url(icons.css);
@import url('https://fonts.googleapis.com/css?family=Orbitron:700');

/* AKS styling */

body>app>nav {
    min-height: 60px;
}

/*.container[role="document"] {
    min-height: calc((100vh) - 10.25rem);
}*/

.appcontent {
    min-height: calc((100vh) - 10.25rem);
}

.navbar-brand {
    font-family: Orbitron;
    padding: 0.25rem 0 0;
}

.nav-link {
    border-radius: 0.25rem;
}

.nav-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navbar form {
    margin-right: 1rem;
}

.btn {
    min-height: 2rem;
}

.btn-link:hover,
.btn-link:focus {
    text-decoration: none;
}

.breadcrumb {
    min-height: 2.5rem;
    padding-top: .375rem;
    padding-bottom: .375rem;
    margin-bottom: 0;
}

.tooltip-inner {
    text-align: left;
    line-height: 1.25;
}

a:hover {
    text-decoration: none;
}

/*h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem auto;
}*/

h1.display-1,
h1.display-2,
h1.display-3,
h1.display-4 {
    margin: 1em auto;
}

p.description {
    color: #818A91;
}

p img {
    margin: 0 1rem 1rem;
    max-width: 100%;
}

video {
    max-width: 100%;
}

.tags {
    display: block;
    padding-bottom: 0.5rem;
    margin: 2rem auto;
}

.tags a.item {
    display: inline-block;
    margin-right: 1rem;
}

.nav-tabs {
    margin-bottom: 1rem;
}

aside {
    margin-bottom: 5rem;
}

fieldset,
label {
    margin: 0;
    padding: 0;
}


/* TOC visualization */

#tocIndex {
    padding: 0 1rem;
    border: 1px solid #ECEEEF;
    border-radius: 0.25rem;
    max-height: calc((100vh) - 9rem);
    overflow-y: auto;
    margin-bottom: 1rem;
}

#topicContent {
    resize: horizontal;
}

.collapsing {
    transition: none !important;
}

#toc,
#toc ul {
    list-style-type: none;
    color: #777;
}

#toc {
    margin: 0;
    padding: 0;
}

#toc,
#toc+ul {
    margin-left: 1.5rem;
}

#toc li {
    line-height: 1.25;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#toc a {
    color: #777;
    text-decoration: none;
}

#toc li i {
    margin-left: -1.5rem;
}

#toc li ul {
    margin-left: -0.75rem;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    display: inline-block;
    font-family: 'feather';
    content: "\e913";
    margin-right: 0.5rem;
    margin-left: -1.5rem;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}


/* Comments & Rating */

.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 0 0.5rem 0.5rem 0;
    font-size: 1.5rem;
    font-family: feather;
    display: inline-block;
    content: "\e9d5";
}

.rating>label {
    color: #ddd;
    float: right;
}

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #007bff;
}

.rating>input:checked+label:hover,
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
    color: #0056b3;
}

.commentsRating .card {
    margin-top: 1rem;
    border: 0;
    border-radius: 0;
    border-left: 0.25rem solid #ECEEEF;
}

.commentsRating .card .card-body {
    padding: 1rem 0 1rem 1rem;
}

.commentsRating .card .btn-close {
    position: absolute;
    top: 0.5rem;
    right: -1.25rem;
}


/* Navbar on mobile */

@media (max-width: 768px) {
    .form-inline .input-group,
    .form-inline .custom-select {
        width: 100%;
    }
    .navbar-nav .nav-link {
        padding: 0.5rem 0.75rem;
        margin: 0.25rem 0;
        width: calc((100%) - 1rem);
    }
    .navbar-nav .dropdown-menu.show {
        width: calc((100%) - 1rem);
    }
}

.validation-message {
    font-size: .8em;
    color: red;
}

/* The End */

.jagged-border {
    background: #F8ECC2;
    position: relative;
    margin-top: 25px;
}

.jagged-border:before, .jagged-border:after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-image: linear-gradient(135deg, transparent 66%, #F8ECC2 67%), linear-gradient(45deg, #F8ECC2 33%, gray 34%, transparent 44%);
    background-position: -5px 0;
    background-size: 10px 100%;
    background-repeat: repeat-x;
}

.jagged-border:after {
    top: 100%;
    bottom: auto;
    background-image: linear-gradient(135deg, #F8ECC2 33%, gray 34%, transparent 44%), linear-gradient(45deg, transparent 66%, #F8ECC2 67%);
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.tree-item-text {
    display:inline-block;
}
.tree-insert-below {
    display: table;
}
.can-drop {
    border-bottom: 2px solid lightblue
}

.no-drop {
    background-color: lightpink;
}