@page "{projectId:guid}"
@model AKS.Share.Web.Pages.ProjectModel
@{
    ViewData["Title"] = "Project";
}

@section HeaderNav {
    <partial name="Shared/HeaderNavPartial" model="Model.HeaderNav" />
}

<div role="group" class="container flex-fill">
    <div role="group" class="row nav-content">
        <div role="group" class="col-lg-3">
            <button id="tocBtn" type="button" data-toggle="collapse" data-target="#tocView"
                    class="btn btn-link btn-block bg-light text-left text-truncate">
                <i class="icon-sidebar"
                   aria-expanded="false"></i>Table of contents
            </button>
        </div>
        <div role="group" class="col-lg-7">
            <ol class="breadcrumb bg-light">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </div>
        <div role="group" class="col-lg-2">
            <button type="button" class="btn btn-link btn-block bg-light text-left text-truncate">
                <i class="icon-mail"></i>Share
            </button>
        </div>
    </div>
    <div role="group" class="row">
        <div role="group" id="tocView" class="collapse toc col-lg-3">
            <div role="group" id="tocIndex">
                <ul id="toc">
                    <li>
                        <span class="caret">Category</span>
                        <ul class="nested">
                            <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="caret">Category</span>
                        <ul class="nested">
                            <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="caret">
                            Category with a really long title creating two lines of text with its
                            name
                        </span>
                        <ul class="nested">
                            <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="caret">Category</span>
                        <ul class="nested">
                            <li>
                                <a href="#"><i class="icon-file-text"></i>Topic</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="caret">Category with two levels deep</span>
                        <ul class="nested">
                            <li>
                                <span class="caret">Category</span>
                                <ul class="nested">
                                    <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
                            <li>
                                <a href="#">
                                    <i class="icon-file-text"></i>Topic name with a really long title
                                    creating two lines of text with its name
                                </a>
                            </li>
                            <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="caret">Category</span>
                        <ul class="nested">
                            <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="caret">Category</span>
                        <ul class="nested">
                            <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="caret">Category</span>
                        <ul class="nested">
                            <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
                    <li><a href="#"><i class="icon-file-text"></i>Topic name</a></li>
                </ul>
            </div>
        </div>
        <div id="tocContent" role="document" class="col">
            <div class="row">
                <div class="col mb-4 text-right">
                    Sort options:
                    <div class="btn-group" role="group" aria-label="Sort options">
                        <button type="button" class="btn btn-outline-secondary">
                            <i class="icon-watch left"></i>
                        </button>
                        <button type="button" class="btn btn-outline-secondary">
                            <i class="icon-users left"></i>
                        </button>
                        <button type="button" class="btn btn-outline-secondary">
                            <i class="icon-tag left"></i>
                        </button>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-6">Topic</th>
                        <th class="col-1"></th>
                        <th class="col-1">Rating</th>
                        <th class="col-1">Comments</th>
                        <th class="col-3">Topic type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var topic in Model.Topics)
                    {
                        <tr>
                            <td>
                                <a asp-page="\Topic" asp-route-projectId="@topic.ProjectId" asp-route-topicId="@topic.TopicId">@topic.Title</a>
                            </td>
                            <td>
                                <a href="#" class="text-secondary">
                                    <i class="icon-info" data-toggle="tooltip"
                                       title="Description: @topic.Description"></i>
                                </a>
                            </td>
                            <td>3</td>
                            <td>6</td>
                            <td>TopicType</td>
                        </tr>

                    }
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

