@page "{projectId:guid}"
@model Resurgam.Admin.Web.Pages.ProjectModel
@{
    ViewData["Title"] = "Project";
}

@section HeaderNav {
    <partial name="Shared/HeaderNavPartial" model="Model.HeaderNav" />
}


<table class="table">
    <thead>
        <tr>
            <td>Topic Name</td>
            <td>Topic Description</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var topic in Model.Topics)
        {
            <tr>
                <td><a asp-page="\Topic" asp-route-projectId="@topic.ProjectId" asp-route-topicId="@topic.TopicID">@topic.TopicName</a> </td>
                <td>@topic.TopicDesription</td>
            </tr>
        }
    </tbody>
</table>

